---
interface Props {
  title: string
  description: string
  pubDate: Date
  slug: string
}

const { title, description, pubDate, slug } = Astro.props

const formattedDate = pubDate.toLocaleDateString('en-US', {
  year: 'numeric',
  month: 'long',
  day: 'numeric',
})
---

<article class="blog-preview">
  <time datetime={pubDate.toISOString()} class="blog-preview-date"
    >{formattedDate}</time
  >
  <h3 class="blog-preview-title">
    <a href={`/blog/${slug}`}>{title}</a>
  </h3>
  <p class="blog-preview-desc">{description}</p>
</article>
